# Replay command with sudo
alias fuck='sudo $(fc -ln -1)'
# Fix unix rights on directories and files
alias fix_chmod='find . -type f -exec chmod 640 {} \; && find . -type d -exec chmod 750 {} \;'
# Chef environment
alias env_chef='eval $(chef shell-init zsh)'
# Work environment
alias env_wed='. ~/u/wed/config/env.sh'
# Docker local
alias docker_local='docker-machine start default && eval $(docker-machine env default)'
# Backup laptop using backdup.rake
alias backup='rake -f ~/u/dev/scripts/backdup.rake backupall'
alias backdup='rake -f ~/u/dev/scripts/backdup.rake'
# Upgrade for Debian (checkrestart require debian-goodies package)
alias upg='sudo apt-get update && sudo apt-get upgrade -y && sudo checkrestart'
# Fix Tunnelblick + OpenVPN bug
alias fix_tunnel='sudo kextunload -b net.sf.tuntaposx.tap; sudo kextunload -b net.sf.tuntaposx.tun'
# List EC2 instances with status
alias ls_ec2_status='aws ec2 describe-instances --output table --query "Reservations[].Instances[].[Tags[?Key==\`Name\`] | [0].Value, State.Name]"'
alias ls_ec2="aws ec2 describe-instances | jq -r '.Reservations[].Instances[]|.InstanceId + \" \" + (.Tags[]|select(.[\"Key\"] == \"Name\")|.Value)'"
# Git Aliases
alias git='hub'
alias gst='git status -sb'
alias gpl='git pull'
alias gps='git push'
alias glog='git log'
alias gcmt='git commit -a -m'
# Dir Aliases
DEV_HOME="~/u/dev"
alias dev="cd ${DEV_HOME}"
DOC_HOME="~/u/doc"
alias doc="cd ${DOC_HOME}"

# Convert Markdown to HTML
function md2html() {
	md_file=$1
	html_file="${md_file%.md}.html"
	pandoc -f markdown -t html -o ${html_file} ${md_file}
}
