[user]
	name = jmlrt
	email = git@mailleret.fr
[credential]
	helper = cache
[push]
	default = upstream
[pull]
  rebase = true
[fetch]
  prune = true
[rerere]
  autoupdate = true
  enabled = true
[alias]
  ci = commit
  co = checkout
  ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
  lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
  st = status
